Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Jinja2==3.1.2
Werkzeug==2.3.4
# Визуализация
Flask-WTF==1.1.1

# Безопасность
Flask-Bcrypt==1.0.1

# Обработка платежей (если потребуется Stripe или PayPal)
stripe==5.1.0

# Работа с изображениями/видео
Pillow==10.0.1

Flask-Caching==1.11.0
Flask-Mail==0.9.1
psycopg2-binary==2.9.8      # PostgreSQL
